<% if @content.present? %>
  <h1><%= @content.part_title.as_html %></h1>
  <%= render_partial_for_region(@content) %>
<% end %>

<%= simple_nested_form_for @claim, :url => I18n.locale == :ru ? '/ru/registratsiya' : '/en/registration', :html => { :multipart => true } do |f| %>

  <%= f.error_notification :class => 'error large' %>

  <%= f.input :surname, :autofocus => true %>
  <%= f.input :name %>
  <%= f.input :patronymic %>
  <%= f.input :gender %>

  <%= f.input :email %>
  <%= f.input :birthdate, :as => :datepicker %>
  <%= f.input :contact_phone %>

  <%= f.input :organization_title %>
  <%= f.input :organization_abbr %>

  <%= f.input :postcode %>
  <%= f.input :country, :priority => Claim.priority_countries, :include_blank => true %>
  <%= f.input :locality %>

  <%= f.input :academic_degree_ru, :required => true if I18n.locale == :ru %>
  <%= f.input :academic_degree_en, :required => true if I18n.locale == :en %>
  <%= f.input :academic_degree, :label => false, :input_html => { :class => :hidden } %>

  <%= f.input :academic_status_ru, :required => true if I18n.locale == :ru %>
  <%= f.input :academic_status_en, :required => true if I18n.locale == :en %>
  <%= f.input :academic_status, :label => false, :input_html => { :class => :hidden } %>

  <%= f.input :post %>
  <%= f.input :work_phone %>

  <%= f.fields_for :reports do |report| %>
    <fieldset>
      <legend><%= I18n.t('app.report.title') %></legend>
      <%= report.link_to_remove I18n.t('app.report.remove'), :class => :floatr %>
      <%= report.input :title %>
      <%= report.input :authors, :as => :text %>
      <%= report.input :kind_ru, :required => true if I18n.locale == :ru %>
      <%= report.input :kind_en, :required => true if I18n.locale == :en %>
      <%= report.input :kind, :label => false, :input_html => { :class => :hidden } %>
      <%= report.input :section %>
      <%= report.input :annotation, :placeholder => I18n.t('app.annotation.limit'), :input_html => { :maxlength => 300 } %>
      <%= report.input :attachment, :hint => I18n.t('app.attachment.hint') %>
    </fieldset>
  <% end %>
  <%= f.link_to_add I18n.t('app.report.add'), :reports %>
  <% if @claim.errors.full_messages_for(:reports).any? %>
    <span class='error'><%= @claim.errors.full_messages_for(:reports).join %></span>
  <% end %>

  <%= recaptcha_tags :display => { :theme => 'white' }, :ajax => true %>
  <% if @claim.errors.full_messages_for(:base).any? %>
    <span class='error'><%= @claim.errors.full_messages_for(:base).join %></span>
  <% end %>

  <div class='actions'>
    <%= f.submit %>
  </div>

<% end %>
