<!DOCTYPE HTML>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      First TUSUR Cosmologic Conference
    </title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5.js' %>
    <%= javascript_include_tag 'respond.js' %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag    'stop_ie/application' %>
    <%= javascript_include_tag 'stop_ie/application' %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
      <div class='content'>
        <%= yield %>
      </div>
    <%= render 'yandex_metrika' if Rails.env.production? %>
  </body>
</html>